/* You can add global styles to this file, and also import other style files */

$hover-color: #244894;
$azul-medio: #1E90FF;
$azul-claro: #87CEFA;
$h: #073763;

@tailwind base;
@tailwind components;
@tailwind utilities;
